@import url("https://fonts.googleapis.com/css?family=Expletus+Sans:400,600,700&display=swap");

@font-face {
    font-family: 'Expletus, Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Expletus+Sans:400,600,700&display=swap');
}


.the__subtitle {
	color: #000;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.the__link {
	color: #000;
	font-weight: 600;
}