// typo
$largeTitle: 95px;
$title1: 57px;
$title2: 48px;
$title3: 35px;
$action: 22px;
$body1: 25px;
$body2: 17px;
$caption: 14px;
$hint: 12px;

//Font
$titleFont: 'Rubik', sans-serif;
$body: 'Inter', sans-serif;

// Colors 
$primary: #262626;
$secondary: #a5a5a5;
$third: #0b0c0d;
$accent: #4e4e4e;
$white: #ffffff;

$is_zero: 0;
$is__100: 100%;
$is_5: 5px;
$is_8: 8px;
$is_10: 10px;
$is_12: 12px;
$is_13: 13px;
$is_14: 14px;
$is_15: 15px;
$is_16: 16px;
$is_18: 18px;
$is_20: 20px;
$is_22: 22px;
$is_28: 28px;
$is_25: 25px;
$is_30: 30px;
$is_35: 35px;
$is_40: 40px;
$is_50: 50px;
$is_55: 55px;
$is_48: 48px;
$is_60: 60px;
$is_65: 65px;
$is_70: 70px;
$is_80: 80px;
$is_90: 90px;
$is_95: 95px;
$is_100: 100px;
$is_110: 110px;
$is_120: 120px;
$is_130: 130px;
$is_150: 150px;
$is_180: 180px;
$is_190: 190px;
$is_200: 200px;
$is_230: 230px;
$is_250: 250px;
$is_300: 300px;
$is_350: 350px;
$is_400: 400px;
$is_500: 500px;
$is_600: 600px;
$is_700: 700px;
$is_800: 800px;
$is_900: 900px;
$is_1000: 1000px;
$is_1100: 1100px;
$is_1200: 1200px;
$is_1280: 1280px;
$is_1400: 1400px;