.main__hero {
	display: flex;
	text-align: center;
	min-height: 50vh;
  flex-direction: column;
  justify-content: center;
	.brand__logo {
		margin: 20px 0;
		font-size: 90px;
		line-height: 4rem;
	}

	.the__title {
		color: #000;
		margin: 0;
		font-size: 40px;
		padding: 10px 0;
		text-transform: lowercase;
	}

	.the__subTitle {
		color: #000;
		font-weight: 600;
		letter-spacing: 3.28px;
		text-transform: uppercase;
	}


	.the__desc {
		color: #000;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 3.28px;
		text-transform: uppercase;
	}
}