@import 'base/variables';

	
.brand__logo {
	color: $black;
	font-family: $logoFont;
	font-weight: 600;
}

.brand__name {
	color: $black;
	font-weight: 600;
}

.main__nav {
	display: flex;
	.the__title {
		color: $black;
		margin: 0;
		font-size: 25px;
		padding: 10px 0;
		text-transform: lowercase;
	}
}

.nav__list {
	margin: 0;
	padding: 10px 0;
	margin-left: auto;
	order: 2;
	list-style: none;
	.nav__item {
		float: left;
		margin-right: 20px;
		a {
			color: $dark;
			text-decoration: none;

			&:hover {
				color: $dark;
			}
		}
		&:last-of-type {
			margin-right: 0;
		}
	}

}

.is__active {
	color: $dark;
}